@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&display=swap');
header{
    display: flex;
    justify-content: space-around;
}
body{
    background: #5c5cb4;
    font-family: 'Roboto', sans-serif;

}
main{
    display: flex; 
    justify-content: center;
    flex-direction: row; 
}
section {
    background-color: #8682b9;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}
.entrada {
    font-family: 'Roboto Slab', serif;
    background-color:#9b95be;
    padding: 5px;
    border-radius: 10px;
}

.entra {
    background-color: #0e2dda;
    border-radius: 10px;

}